hr{
    width: 50%;
    clear: both;
}

#logo-img{
    position: relative;
    left:-2%;
}

.top-header {
    margin: auto;
    position: absolute;
    left: 38.5%;
    text-align: center;
}

.top-header h1{
    font-family: eds-market-bold-script, sans-serif;
    margin: 0;
}

.top-header .top-menu {
    margin: 0;
}

.top-header .top-menu a{
    font-family: eds-market-bold-script, sans-serif;
    font-size: 20px;
    color: black;
    text-decoration:none;
    margin: 10px;
}

.top-header .top-menu a:hover{
    color:#581211;
    transition: .4s ease;
}

.about-me{
    position: absolute;
    top:1%;
    left: 44%;
    width: 20%;
}

.about-me h1{
    font-family: league-gothic, sans-serif;
    letter-spacing: 3px;
    font-size: 40px;
    margin: 0;
}

.about-img {
    top:37.5%;
    left: 13%;
    position: absolute;
}



.video-btn{
    position: relative;
    float: left;
}

.portfolio-images{
    position: absolute;
    top:50%;
    left:7%;
}

.writing-btn{
    position: relative;
    float: right;
}


.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 98.5%;
    width: 100%;
    opacity: 0;
    background-color: #581211;
}

.portfolio-images .video-btn:hover .overlay{
    transition: .5s ease;
    opacity: 50%;
}

.portfolio-images .writing-btn:hover .overlay{
    transition: .5s ease;
    opacity: 50%;
}

#about-paragraph{
    position: absolute;
    top:33%;
    left:36%;
    width: 50%;
}

#about-paragraph p{
    font-family: forma-djr-banner, sans-serif;
    font-size: 21px;
    letter-spacing: 1px;
}

#about-p{
    font-family: eds-market-regular-slant, sans-serif;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
}

#about-hr{
    position: absolute;
    width: 160%;
    top:30%;
    left: -31%;

}

#hr-div{
    position: absolute;
    width: 140%;
    top:42%;
    left:-21%;
}

.portfolio-header{
    position: absolute;
    left: 40.6%;
    text-align: center;
}

#portfolio-img{
    position: relative;
    left: -6%;
}

.portfolio-header h1{
    margin: 0;
    font-family: league-gothic, sans-serif;
    letter-spacing: 8px;
    font-size: 40px;
}

#vimeo-link{
    position: absolute;
    text-align: center;
    left: 23%;
    top: 50%;
}

#vimeo-link h4{
    margin: 0;
}

#vimeo-link a{
    margin: 0;
    font-family: league-gothic, sans-serif;
    letter-spacing: 3px;
    color: black;
    font-size: 40px;
    text-decoration: none;
}

#vimeo-link a:hover{
    color:#19B7EA;
    transition: .4s ease;
}

#youtube-link{
    position: absolute;
    text-align: center;
    left: 62%;
    top: 50%;
}

#youtube-link h4{
    margin: 0;   
}

#youtube-link a{
    margin: 0;
    font-family: league-gothic, sans-serif;
    color: black;
    letter-spacing: 3px;
    font-size: 40px;
    text-decoration: none;
}

#youtube-link a:hover{
    color:#E60707;
    transition: .4s ease;
}

#video-hr-div{
    position: absolute;
    width: 160%;
    top:35%;
    left:-31%;
}






  



